<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'Kaboodles' + ${title == null ? '' : ' :: ' + title}">Kaboodles</title>
</head>

<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">Kaboodles</a>
        </div>
        <ul class="nav" style="float:right;">
            <li th:if="${session.user}" class="nav navbar-nav"><a class="nav-link" href="/logout">Log out</a></li>
        </ul>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
<!--                <li><a th:href="@{/list}">List</a></li>-->
<!--                <li><a th:href="@{/search}">Search</a></li>-->
<!--                <li><a th:href="@{/add}">Add Jobs</a></li>-->
                <li><a th:href="@{/add}">View Customer</a></li>
                <li><a th:href="@{/proService/view}">View pro</a></li>
                <li th:unless="${session.user}"><a th:href="@{/login}">Log In</a></li>
                <li th:text="${session.user}"/></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>