<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <title th:text="'Kaboodles' + ${title == null ? '' : ' :: ' + title}">Kaboodles</title>
</head>
<body>



<div class="container body-content">
    <div> <img th:src="@{/images/Customers.jpg}" class="img4" />


<div th:replace="fragments :: page-header"></div>

<div class="container body-content" >
    <h3 th:text="'Pros' + ${title == null ? '' : ' :: ' + title}">Your Credentials</h3>
    <table class="table table-striped" action="/view">
        <thead>
        <tr>
            <th>First Name</th>
         <!--   <th>Last Name</th> -->
            <th>Service Type</th>
            <th>Cost Per Hour</th>
            <th>Location</th>
            <th>Email ID</th>
            <th>Contact Number</th>
            <th>Action Edit</th>

        </tr>
        </thead>
        <tr th:each="viewPro : ${viewProDTO}">
            <td th:text="${viewPro.firstName}" ></td>
          <!--  <td th:text="${viewPro.lastName}"></td> -->
            <td th:text="${viewPro.serviceName}"></td>
            <td th:text="${viewPro.costPerHour}"></td>
            <td th:text="${viewPro.location}"></td>
            <td th:text="${viewPro.emailID}"></td>
            <td th:text="${viewPro.contactNumber}"></td>
            <td><a th:href="'/proService/edit?proId=' + ${viewPro.proId}" th:text="Edit"></a></td>

        </tr>

    </table>


</div>

</div>

</body>
</html>