<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<p th:unless="${proSkills} and ${proSkills.size()}">no jobs!</p>

<div class="container body-content">
    <h2>Pro Skills</h2>
    <ul>
        <li th:each="proSkill : ${proSkills}">
            <a th:href="@{'/proSkills/view/' + ${proSkill.id}}" th:text="${proSkill.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/proSkills/add'}">Add Pro Skills</a>

</div>

</body>
</html>